*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.inventario{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 500px;
    min-height:60px;
    background-color: rgb(120, 108, 91);
    border: 1px solid black;
    border-radius: 4px;
}
.block{
    text-align: center;
    color: white;
}
.item{
    display: flex;
    margin: 10px;
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
}

.icon{
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
}

.counter{
    margin-top: auto;
    margin-left: auto;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 10px 0 0 0;
    font-size: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}